@model NotificationTest.Models.InstallationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstallationModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PushChannel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PushChannel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PushChannelExpired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PushChannelExpired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
